body{background-color: green;
    background-color: #f67809;
    background-color: #abc;
    background-color: #e928;
    background-color: rgb(55, 100, 220);
    background-color: rgba(55, 100,220, 0.5);
    background-color: hsl(299,58%, 50%);
    background-color: hsla(299,58%, 50%, 0.5);
}